<h1> Here's all our plants! </h1>

<div class="index-container">
   <p><% @plants.each do |plant| %> </p>
<div class="index-tile">
   <%= link_to plant.name, plant_path(plant.id) %> 
    <img class="index-img" src="<%= plant.img_url %>">
  </div>  
  <% end %>
</div>

