

<div class="mx-auto text-center">
<br>
<br>
<br>
<br>

<h1> Your Cart: </h1>

  <% @carts.each do |cart| %>
    <li> <%= link_to cart.plant.name, cart_path(cart.id) %> </li>
  <% end %>

<%# <% @cart.sum do |total| %> %>
  <%# <%= total.plant.price %> %>
  <%# <%end %> %>
<%# </div> %>